{% extends 'base.html' %}
{% load  custom_filters %}
{% block title %} home {% endblock title %}
{% block body %}
{% for blog in blogs  %}
<h3> {{blog.blog_title}}</h1>
<h6>{{blog.publish_date}}</h6>


<div class="row">
    <div class="col-sm-4">
    <img src="/media/{{blog.blog_image}}" alt="{{blog.blog_title}}" title="{{blog.blog_title}}" width="100%">

    </div>

    <div class="col-sm-8">
    <p>{{blog.blog_content|range_filter|linebreaks}}<a href="{% url 'blog_details' slug=blog.slug %}">Read more </a></p>
    <h6> posted by:<a a href="#" >@{{blog.author}}</a></h6>
    <h6>{{blog.like_blog.count}} Likes |{{blog.blog_comment.count}} Comments</h6>
    </div>

 </div>   




{% endfor %}

{% endblock body %}